<ion-view view title="Sign-In">
	<ion-content class="padding">
		<form ng-submit="login.login()" method="post" class="list list-inset">  
		    <label class="item item-input">
				<input type="text" placeholder="Username" ng-model="login.email">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="Password" ng-model="login.password">
			</label>
		    <button type="submit" class="button button-block button-positive">Autenticar</button>

		<p class="assertive" ng-show="wrong">Invalid username or password</p>
		</form>
	</ion-content>
</ion-view>